@import '../abstract/variaveis';

.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    display:flex; //p/ centralizar os child elements

    .inner-banner{
        padding: 3rem;
        background-color: $cor-terciaria;
        opacity: 0.9;
        border-radius: 5%;

        h1{
            font-size: $tamanho-do-texto;
            color: $cor-primaria;
        }

        h2{
            font-size: $tamanho-do-texto / 2;
        }
    }
}