//Fontes
$fonte: 'Roboto', sans-serif;

//Cores
$cor-primaria: #FFD4B2;
$cor-secundaria: #CEEDC7;
$cor-terciaria: #86C8BC;
$cor-quarternaria: #679e94;

//Tamanho das fontes

$tamanho-do-texto: 3rem;
 